{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
   .citation{
    color:black !important;
    padding: 10px 15px;
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &:nth-child(3n-1) {
        background-color: #bee1c7 !important;
        border-color: #bee1c7 !important;
      }
      &:nth-child(3n-2) {
        background-color: #ffc10740 !important;
        border-color: #ffc10740 !important;
      }
      &:nth-child(3n-3) {
        background-color: #a9cff7 !important;
        border-color: #a9cff7 !important;
      }
   }
   .anchor{
    color: blue !important;
    text-decoration: underline;
    
   }

</style>
<div>
    <p style="margin-top:6%; margin-left: 2%;">
        <strong style="color:#fa8321 !important; font-size:xx-large; ">
            REFERENCES
        </strong> </p>
  </div>
<div style="margin-top: 1%;" class="box-container">
    <div class="citation">
        Incredible Eats website: 
        <i>
            <a class="anchor" href="https://chat.openai.com/" target="_blank">
                incredibleeats.com
            </a>
        </i>
    </div>
    <div class="citation">
        ChatGPT, for summarizing paragraphs and thoughts: 
        <i>
            <a class="anchor" href="https://chat.openai.com/" target="_blank">
                OpenAI,ChatGPT
            </a>
        </i>
    </div>
    <div class="citation">
        Incredible Eats Shark Tank Update (2023) Net Worth Sales: 
        <i>
            <a class="anchor" href="https://www.caclubindia.com/wealth/incredible-eats-shark-tank/" target="_blank">
                caclubindia.com
            </a>
        </i>
    </div>
    <div class="citation">
        IncrEDIBLE Eats and the Journey to Shark Tank: 
        <i>
            <a class="anchor" href="https://www.industryleadersmagazine.com/a-spoonful-of-success-incredible-eats-and-the-journey-to-shark-tank/" target="_blank">
                industryleadersmagazine.com
            </a>
        </i>
    </div>
    <div class="citation">
        HTML and CSS: 
        <i>
            <a class="anchor" href="https://bootsnipp.com/snippets/O5q8E" target="_blank">
                bootsnipp.com
            </a>
        </i>
        <br>
        <i>
            <a class="anchor" href="https://chartscss.org/customization/animations/" target="_blank">
                chartscss.org
            </a>
        </i>
        <br>
        <i>
            <a class="anchor" href="https://getcssscan.com/css-buttons-examples" target="_blank">
                getcssscan.com
            </a>
        </i>
        <br>
        <i>
            <a class="anchor" href="https://getbootstrap.com/" target="_blank">
                getbootstrap.com
            </a>
        </i>
        <i>
            <a class="anchor" href="https://codepen.io/cerennnkurucuuu/pen/JjYzPRg" target="_blank">
                codepen.io,infographic
            </a>
            <br>
            <a class="anchor" href="https://codepen.io/MarkBoots/pen/Yzadapq" target="_blank">
                codepen.io,ol-cards
            </a>
            <br>
            <a class="anchor" href="https://codepen.io/vedadesigns/pen/GPxYZg" target="_blank">
                codepen.io,title-css
            </a>
            <br>
            <a class="anchor" href="https://codepen.io/wikyware-net/pen/dyKPRxQ" target="_blank">
                codepen.io,hover
            </a>
            
        </i>
        <br>
        <i>
            <a class="anchor" href="https://alvarotrigo.com/blog/html-css-timelines/" target="_blank">
                alvarotrigo.com
            </a>
        </i>
    </div>

    <div class="citation">
        Business Etiquette Around the World: 
        <i>
            <a class="anchor" href="https://in.pinterest.com/pin/413205334552889086/" target="_blank">
                pinterest.com
            </a>
        </i>
    </div>
    <div class="citation">
        IncrEdible Eats Edible Cutlery Update | Shark Tank Season 13: 
        <i>
            <a class="anchor" href="https://sharktankrecap.com/shark-tank-incredible-eats-edible-cutlery-update-season-13/" target="_blank">
                sharktankrecap.com
            </a>
        </i>
    </div>
    <div class="citation">
        How Bad Politics is Ruining South Korea: 
        <i>
            <a class="anchor" href="https://www.youtube.com/watch?v=QtCdDCA5Mog/" target="_blank">
                youtube.com
            </a>
        </i>
    </div>
    <div class="citation">
        We bring the World to Korea, and take Korea to the World: 
        <i>
            <a class="anchor" href="https://pearsonkorea.com/insights/Why-South-Korea-Business-is-preferred-by-Foreign-Companies/" target="_blank">
                pearsonkorea.com
            </a>
        </i>
    </div>
    <div class="citation">
        Is South Korea's Economic Bubble About to Burst? | Economics Explained: 
        <i>
            <a class="anchor" href="https://www.youtube.com/watch?v=0yNot060rHM" target="_blank">
                youtube.com
            </a>
        </i>
    </div>
    <div class="citation">
        Doing Business in South Korea: 
        <i>
            <a class="anchor" href="http://www.southkorea.doingbusinessguide.co.uk/the-guide/business-issues-and-considerations/" target="_blank">
                southkorea.doingbusinessguide.co.uk
            </a>
        </i>
    </div>
    <div class="citation">
        Where US and Korea Labor Laws Divide: 
        <i>
            <a class="anchor" href="https://www.hkemploymentlaw.com/news-event/us-korea-labor-laws-divide/" target="_blank">
                hkemploymentlaw.com
            </a>
        </i>
    </div>
    <div class="citation">
        South Korea has almost zero food waste. Here’s what the US can learn: 
        <i>
            <a class="anchor" href="https://www.theguardian.com/environment/2022/nov/20/south-korea-zero-food-waste-composting-system/" target="_blank">
                theguardian.com
            </a>
        </i>
    </div>
    <div class="citation">
        Will President Yoon’s pro-US foreign policy resonate with South Korea’s domestic politics?: 
        <i>
            <a class="anchor" href="https://www.eastasiaforum.org/2023/09/24/will-president-yoons-pro-us-stance-resonate-domestically/" target="_blank">
                eastasiaforum.org
            </a>
        </i>
    </div>
    <div class="citation">
        How to start an edible cutlery business?: 
        <i>
            <a class="anchor" href="https://medium.datadriveninvestor.com/how-to-start-an-edible-cutlery-business-fad7870721d2/" target="_blank">
                medium.datadriveninvestor.com
            </a>
        </i>
    </div>
    <div class="citation">
        Country Comparison Tool: 
        <i>
            <a class="anchor" href="https://www.hofstede-insights.com/country-comparison-tool?countries=south+korea%2Cunited+states/" target="_blank">
                hofstede-insights.com
            </a>
        </i>
    </div>
    <div class="citation">
        Icons: 
        <i>
            <a class="anchor" href="https://icons8.com/icons/" target="_blank">
                icons8.com
            </a>
        </i>
    </div>
    <div class="citation">
        Bringing Edible Spoons to Market to Reduce Single Use Plastics - Dinesh Tadepalli of IncrEDIBLE Eats: 
        <i>
            <a class="anchor" href="https://www.youtube.com/watch?v=HqDnQNDz2PU/" target="_blank">
                youtube.com
            </a>
        </i>
    </div>
    <div class="citation">
        Porter's Five Forces - The Framework Explained: 
        <i>
            <a class="anchor" href="https://www.mindtools.com/at7k8my/porter-s-five-forces/" target="_blank">
                mindtools.com
            </a>
        </i>
    </div>
    <div class="citation">
        Dippin' Dots South Korea Distribution: 
        <i>
            <a class="anchor" href="http://dippindots.co.kr/board/bbs/board.php?bo_table=map/" target="_blank">
                dippindots.co.kr
            </a>
        </i>
    </div>
    <div class="citation">
        International-Expansion Entry Modes: 
        <i>
            <a class="anchor" href="https://saylordotorg.github.io/text_international-business/s12-03-international-expansion-entry-.html#:~:text=The%20five%20most%20common%20modes,set%20of%20advantages%20and%20disadvantages./" target="_blank">
                saylordotorg.github.io
            </a>
        </i>
    </div>
    <div class="citation">
        MARKETING YOUR BRAND: SOUTH KOREA: 
        <i>
            <a class="anchor" href="https://ins-globalconsulting.com/news-post/marketing-brand-south-korea/" target="_blank">
                ins-globalconsulting.com
            </a>
        </i>
    </div>
    <div class="citation">
        HOW TO HIRE AND PAY EMPLOYEES IN South Korea: 
        <i>
            <a class="anchor" href="https://www.oysterhr.com/hire-employees/south-korea" target="_blank">
                oysterhr.com
            </a>
        </i>
    </div>
    <div class="citation">
        Intercultural Human Resource Management: South Korea And The United States: 
        <i>
            <a class="anchor" href="https://www.researchgate.net/publication/271386625_Intercultural_Human_Resource_Management_South_Korea_And_The_United_States/" target="_blank">
                researchgate.net
            </a>
        </i>
    </div>
    <div class="citation">
        What is International Human Resource Management?: 
        <i>
            <a class="anchor" href="https://globalonline.mmu.ac.uk/news-and-events/what-is-international-human-resource-management/" target="_blank">
                globalonline.mmu.ac.uk
            </a>
        </i>
    </div>
    <div class="citation">
        Korean HR Management Transition &amp; Challenges: 
        <i>
            <a class="anchor" href="https://www.linkedin.com/pulse/korean-hr-management-transition-challenges-abdul-aziz-mohammad/" target="_blank">
                linkedin.com
            </a>
        </i>
    </div>
    <div class="citation">
        Modules PPTs: 
        <i>
            <a class="anchor" href="https://learn.twu.ca/mod/resource/view.php?id=964198" target="_blank">
                Module-0
            </a>
        </i>
        <br>
        <i>
            <a class="anchor" href="https://learn.twu.ca/mod/resource/view.php?id=964199" target="_blank">
                Module-1
            </a>
        </i>
        <br>
        <i>
            <a class="anchor" href="https://learn.twu.ca/mod/resource/view.php?id=965101" target="_blank">
                Module-2
            </a>
        </i>
        <br>
        <i>
            <a class="anchor" href="https://learn.twu.ca/mod/resource/view.php?id=965501" target="_blank">
                Module-3
            </a>
        </i>
    </div>
    
</div>

{% endblock %}