{% extends "base.html" %}

{% block content %}
{% load static %}

<style>

  .centertext{
    position: fixed;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 2px 2px 0px #fa8321;
}
.imagemain{
  margin-top:5%;
  width: 100%;
  height: 90vh;
   
}
</style>
  <div class="maintext">
    <img class="imagemain" src="{% static 'main.png' %}"/>
  </div>
  <div>
    <p style="color:black !important; margin:10px; padding: 10px; font-family:GT Flexa Medium !important">Across the world, a staggering amount of people are eating their food with single-use plastic utensils 
      but why do we use something just for few minutes if it's gonna take hundreds of years to decompose. 
      That's the moment on the lips but a lifetime in a landfill</p>
  </div>
{% endblock %}
