{% extends "base.html" %}
{% block content %}
  {% load static %}
  <style>
    .btn-circle.btn-xl {
      width: 200px;
      height: 200px;
      padding: 13px 18px;
      border-radius: 100px;
      font-size: 60px;
      text-align: center;
    }
    .rectangle {
      width: 95%;
      height: 70%;
    }

    .challenges .lis{
        border-bottom: none !important;
        margin: 0;
         padding: 0; 
         
      }
      ul.challenges {
        list-style-type: none;
      }
      ul.challenges > li {
        text-indent: -5px;
      }
      ul.challenges > li:before {
        content: "-";
        text-indent: -5px;
      }
      p + ul {
        margin-top: -2%;
    }
    
  </style>
  <div>
    <div style="height: 65px; padding-bottom: 25%; background-color: #eae7ce; margin-top: 3%;" class="row">
      <div class="col-md-2">
        <button style="margin-top: 30%; margin-left: 3%" class="buttonP btn btn-warning btn-xl btn-circle">P</button>
      </div>
      <div class="col-md-10">
        <div id="political" class="rectangle" style="margin-top: 6.5%; border-top: 1.5px solid #ffc107; border-bottom: 1.5px solid #ffc107;">
            <p style="color: #ffc107 !important">
                South Korea is politically favourable for business as it has various Free Trade Agreements such as the U.S.-Korea Free Trade Agreement (KORUS FTA) that reduce tariffs and trade barriers.
            <br><br><b style="color:#ffc107 !important">POLITICAL CHALLENGES</b>
            <ul class="challenges" style="color: #c99700 !important">
                <li class="lis" style="color: #ffc107 !important;">- Politics dominated by government and an opposition party, both having approval rates by public below 35%.</li>
                <li class="lis" style="color: #ffc107 !important;">- South Korean President Yoon Suk-yeol has shifted the country's foreign policy toward the United States (Pro-US Foreign Policy) but hasn't seen a significant increase in his domestic approval ratings</li>
                <li class="lis" style="color: #ffc107 !important;">- Corruption among leaders, examples including manipulation of stock prices by them.</li>
            </ul>
            </p>
        </div>
      </div>
    </div>

    <div style="height: 65px; padding-bottom: 25%; background-color: #acedfa70;" class="row">
        
        <div class="col-md-10">
          <div id="economic" class="rectangle" style="margin-left: 5%;margin-top: 6.5%; border-top: 1.5px solid #0dcaf0; border-bottom: 1.5px solid #0dcaf0;">
            <p style="color: #0dcaf0 !important; margin-top: 2%;">
                South Korea's status as the 10th largest economy in the world and the 3rd largest in Asia reflects its significant economic power and influence on the global stage.
                <br><br><b style="color:#0dcaf0 !important">ECONOMIC CHALLENGES</b>
            <ul class="challenges" style="color: #0dcaf0 !important">
                <li class="lis" style="color: #0dcaf0 !important;">- Rapid economic development has led to an increase in the cost of property. Property prices are unrealistic, and property debt levels are excessive. </li>
                <li class="lis" style="color: #0dcaf0 !important;">- Price pressure from domestic manufacturers would be pronounced as Incredible eats is a foreign company</li>
            </ul>
            </p>
        </div>
        </div>
        <div class="col-md-2">
            <button style="margin-top: 30%; margin-left: -12%;" class="buttonE btn btn-info btn-xl btn-circle">E</button>
          </div>
      </div>
  </div>

  <div style="height: 65px; padding-bottom: 25%; background-color: #faadb5;" class="row">
    <div class="col-md-2">
      <button style="margin-top: 30%; margin-left: 3%" class="buttonS btn btn-danger btn-xl btn-circle">S</button>
    </div>
    <div class="col-md-10">
      <div id="social" class="rectangle" style="margin-top: 6.5%; border-top: 1.5px solid #dc3545; border-bottom: 1.5px solid #dc3545;">
        <p style="color: #dc3545 !important;">
            South Korea is appealing for Incredible Eats as the nation embraces a zero-food-waste and plastic-free culture as individuals increasingly prioritize sustainable consumption and lifestyles.
            <br><br><b style="color:#dc3545 !important">SOCIAL CHALLENGES</b>
        <ul class="challenges" style="color: #dc3545 !important">
            <li class="lis" style="color: #dc3545 !important;">- Language barrier in South Korea can be challenging, as the majority of the population primarily speaks Korean.</li>
            <li class="lis" style="color: #dc3545 !important;">- Behavorial differences (e.g., In USA, direct eye contact conveys confidence and respect, but in Korea, it can be viewed as confrontational and impolite.), accents, food and lifestyle differences are prevalent.</li>
            <li class="lis" style="color: #dc3545 !important;">- Due to low birth rate and long life expectancy, about half of South Korea's population is above 65 years; which means shortage of young labor.</li>
        </ul>
        </p>
         </div>
    </div>
  </div>

  <div style="height: 65px; padding-bottom: 25%; background-color: #a9cff7;" class="row">
      
      <div class="col-md-10">
        <div id="tech" class="rectangle" style="margin-left: 5%;margin-top: 6.5%; border-top: 1.5px solid #0d6efd; border-bottom: 1.5px solid #0d6efd;">
            <p style="color: #0d6efd !important; margin-top: 2%;">
                South Korea is known for its innovation in robotics, artificial intelligence, and green technologies, positioning it as a prominent player in the tech industry on the global stage.                
                <br><br><b style="color:#0d6efd !important">TECHNICAL CHALLENGE</b>
            <ul class="challenges" style="color: #0d6efd !important">
                <li class="lis" style="color: #0d6efd !important;">- The dominance of social media and the highly competitive online presence in South Korea present significant challenges to the popularity of the company in the market.</li>
            </ul>
            </p>   
        </div>
      </div>
      <div class="col-md-2">
          <button style="margin-top: 30%; margin-left: -12%;" class="buttonT btn btn-primary btn-xl btn-circle">T</button>
        </div>
    </div>
</div>

<div style="height: 65px; padding-bottom: 25%; background-color: #f1f4f7;" class="row">
    <div class="col-md-2">
      <button style="margin-top: 30%; margin-left: 3%" class="buttonL btn btn-secondary btn-xl btn-circle">L</button>
    </div>
    <div class="col-md-10">
      <div id="legal" class="rectangle" style="margin-top: 6.5%; border-top: 1.5px solid #adb5bd; border-bottom: 1.5px solid #adb5bd;">
        <p style="color: #adb5bd !important; margin-top: 2%;">
            The South Korean Ministry of Food and Drug Safety (MFDS) enforces stringent regulations and rigorous inspections to ensure food safety, including monitoring labeling, hazard analysis, and international cooperation.
            <br><br><b style="color:#adb5bd !important">LEGAL CHALLENGE</b>
        <ul class="challenges" style="color: #adb5bd !important">
            <li class="lis" style="color: #adb5bd !important;">- Korean labor market practices differ significantly from the American "at-will" employment system. In South Korea, employers are required to demonstrate "just cause" for terminating employment, making the process more stringent and structured.</li>
        </ul>
        </p>  
     </div>
    </div>
  </div>

  <div style="height: 65px; padding-bottom: 25%; background-color: #bee1c7;" class="row">
      <div class="col-md-10">
        <div id="environ" class="rectangle" style="margin-left: 5%;margin-top: 6.5%; border-top: 1.5px solid #198754; border-bottom: 1.5px solid #198754;">
            <p style="color: #198754 !important; margin-top: 2%;">
                South Korea, one of the world&apos;s top consumers of single-use plastic packaging, implemented a ban on all single-use plastic bags at major supermarkets starting in January, 2019, as part of its ambitious goals to reduce plastic waste to 50%, and increase recycling rates from the current to 70% by 2030. This aligns with the goals of Incredible Eats too.
                <br><br><b style="color:#198754 !important">ENVIRONMENTAL CHALLENGE</b>
            <ul class="challenges" style="color: #198754 !important">
                <li class="lis" style="color: #198754 !important;">- South Korea have water scarcity and pollution issues, and climate change is making the problem even worse.</li>
            </ul>
            </p>     
        </div>
      </div>
      <div class="col-md-2">
          <button style="margin-top: 30%; margin-left: -12%;" class="buttonEE btn btn-success btn-xl btn-circle">E</button>
        </div>
    </div>
</div>

        

<script>
  document.querySelector(".buttonP").addEventListener("mouseover", function() {
    this.textContent = "POLITICAL";
    this.style.fontSize = "18px";
  });
  document.querySelector(".buttonP").addEventListener("mouseout", function() {
    this.textContent = "P";
    this.style.fontSize = "60px";
  });
  document.getElementById("political").addEventListener("mouseover", function() {
    this.style.opacity = "1.5";
    this.innerHTML = '<p style="margin-top:4%;"><b style="color:#ffc107 !important">MITIGATIONS</b><ul class="challenges" style="color: #c99700 !important"><li class="lis" style="color: #ffc107 !important">- Developing close ties with government officials can help as they have dominance over the market and also control media.</li><li class="lis" style="color: #ffc107 !important">- Focusing on building a positive public image and collaborating with local partners, for example, engaging in corporate social responsibility (CSR) initiatives, sponsoring community events, and partnering with local businesses to gain public trust and goodwill.</li></ul></p>';
  });
  document.getElementById("political").addEventListener("mouseout", function() {
    this.innerHTML = '<p style="color: #ffc107 !important">South Korea is politically favourable for business as it has various Free Trade Agreements such as the U.S.-Korea Free Trade Agreement (KORUS FTA) that reduce tariffs and trade barriers.<br><br><b style="color:#ffc107 !important">POLITICAL CHALLENGES</b><ul class="challenges" style="color: #c99700 !important"><li class="lis" style="color: #ffc107 !important;">- Politics dominated by government and an opposition party, both having approval rates by public below 35%.</li><li class="lis" style="color: #ffc107 !important;">- South Korean President Yoon Suk-yeol has shifted the country&apos;s foreign policy toward the United States (Pro-US Foreign Policy) but hasn&apos;t seen a significant increase in his domestic approval ratings</li><li class="lis" style="color: #ffc107 !important;">- Corruption among leaders, examples including manipulation of stock prices by them.</li></ul></p>';
  });
  document.querySelector(".buttonE").addEventListener("mouseover", function() {
    this.textContent = "ECONOMIC";
    this.style.fontSize = "18px";
  });
  document.querySelector(".buttonE").addEventListener("mouseout", function() {
    this.textContent = "E";
    this.style.fontSize = "60px";
  });
  document.getElementById("economic").addEventListener("mouseover", function() {
    var htmlstr = '<p style="margin-top:2%;"><b style="color:#0dcaf0 !important">MITIGATIONS</b>';
    htmlstr += '<ul class="challenges" style="color: #0dcaf0 !important">';
    htmlstr += '<li class="lis" style="color: #0dcaf0 !important;">- Jeonse (key money) technique can be followed for 0 interest on space to set up manufacturing plant and storage facility. In South Korea, the key money system (as opposed to monthly rent or wolse) requires the lessee to make a deposit of about one-third to two-thirds the total cost of the leased property in lieu of monthly payment. The key money is returned when the lease expires. </li>';
    htmlstr += '<li class="lis" style="color: #0dcaf0 !important;">- To mitigate pressure from domestic manufacturers in South Korea, Incredible Eats will focus on compliance with local regulations and standards while actively engaging in transparency and ethical business practices. Furthermore, future collaborations are welcomed.</li>';
    htmlstr += '</ul></p>';
    this.innerHTML = htmlstr;
  });
  document.getElementById("economic").addEventListener("mouseout", function() {
    var htmlstr = '<p style="color: #0dcaf0 !important; margin-top: 2%;">';
        htmlstr += 'South Korea&apos;s status as the 10th largest economy in the world and the 3rd largest in Asia reflects its significant economic power and influence on the global stage.';
        htmlstr += '<br><br><b style="color:#0dcaf0 !important">ECONOMIC CHALLENGES</b>';
        htmlstr += '<ul class="challenges" style="color: #0dcaf0 !important">';
        htmlstr += '<li class="lis" style="color: #0dcaf0 !important;">- Rapid economic development has led to an increase in the cost of property. Property prices are unrealistic, and property debt levels are excessive. </li>';
        htmlstr += '<li class="lis" style="color: #0dcaf0 !important;">- Price pressure from domestic manufacturers would be pronounced as Incredible eats is a foreign company.</li>';
        htmlstr += '</ul></p>';
    this.innerHTML = htmlstr;
  });

  document.querySelector(".buttonS").addEventListener("mouseover", function() {
    this.textContent = "SOCIAL";
    this.style.fontSize = "18px";
  });
  document.querySelector(".buttonS").addEventListener("mouseout", function() {
    this.textContent = "S";
    this.style.fontSize = "60px";
  });
  document.getElementById("social").addEventListener("mouseover", function() {
    var htmlstr = '<p style="margin-top:2%;"><b style="color:#dc3545 !important">MITIGATIONS</b>';
        htmlstr += '<ul class="challenges" style="color: #dc3545 !important">';
        htmlstr += '<li class="lis" style="color: #dc3545 !important;">- To overcome language barriers in South Korea, Incredible Eats&apos; team will invest on learning basic Korean phrases with the help of translation apps and hire bilinguial professionals for important business meetings with government or Korean businesses.</li>';
        htmlstr += '<li class="lis" style="color: #dc3545 !important;">- Personnel will be a mix of US employees and Korean employess and hiring Koreans will be attracted by higher incentives such as trips, gifts on festivals, etc. than market.</li>';
        htmlstr += '<li class="lis" style="color: #dc3545 !important;">- Staff mix will help to deal with intercultural differences, and edible cutlery will be designed specifically for Korean market.</li>';
        htmlstr += '</ul></p>';
    this.innerHTML = htmlstr;
  });
  document.getElementById("social").addEventListener("mouseout", function() {
    var htmlstr = '<p style="color: #dc3545 !important;">';
        htmlstr += 'South Korea is appealing for Incredible Eats as the nation embraces a zero-food-waste and plastic-free culture as individuals increasingly prioritize sustainable consumption and lifestyles.';
        htmlstr += '<br><br><b style="color:#dc3545 !important">SOCIAL CHALLENGES</b>';
        htmlstr += '<ul class="challenges" style="color: #dc3545 !important">';
        htmlstr += '<li class="lis" style="color: #dc3545 !important;">- Language barrier in South Korea can be challenging, as the majority of the population primarily speaks Korean.</li>';
        htmlstr += '<li class="lis" style="color: #dc3545 !important;">- Behavorial differences (e.g., In USA, direct eye contact conveys confidence and respect, but in Korea, it can be viewed as confrontational and impolite.), accents, food and lifestyle differences are prevalent.</li>';
        htmlstr += '<li class="lis" style="color: #dc3545 !important;">- Due to low birth rate and long life expectancy, about half of South Korea&apos;s population is above 65 years; which means shortage of young labor.</li>';
        htmlstr += '</ul></p>';
    this.innerHTML = htmlstr;
  });

  document.querySelector(".buttonT").addEventListener("mouseover", function() {
    this.textContent = "TECHNICAL";
    this.style.fontSize = "18px";
  });
  document.querySelector(".buttonT").addEventListener("mouseout", function() {
    this.textContent = "T";
    this.style.fontSize = "60px";
  });
  document.getElementById("tech").addEventListener("mouseover", function() {
    var htmlstr = '<p style="margin-top:2%;"><b style="color:#0d6efd !important">MITIGATIONS</b>';
        htmlstr += '<ul class="challenges" style="color: #0d6efd !important">';
        htmlstr += '<li class="lis" style="color: #0d6efd !important;">- Partnerships with local influencers who have a strong online presence to promote products by creating engaging and localized content that resonates with the target audience.</li>';
        htmlstr += '<li class="lis" style="color: #0d6efd !important;">- One major thing will be to provide excellent customer service through online channels so that the company can build trust and loyalty among South Korean consumers.</li>';
        htmlstr += '<li class="lis" style="color: #0d6efd !important;">- Exploring partnerships with major e-commerce platforms in South Korea to reach a broader audience and tap into the country&epos;s growing e-commerce market is also considered.</li>';
        htmlstr += '</ul></p>';
        this.innerHTML = htmlstr;
  });
  document.getElementById("tech").addEventListener("mouseout", function() {
    var htmlstr = '<p style="color: #0d6efd !important; margin-top: 2%;">';
        htmlstr += 'South Korea is known for its innovation in robotics, artificial intelligence, and green technologies, positioning it as a prominent player in the tech industry on the global stage.';
        htmlstr += '<br><br><b style="color:#0d6efd !important">TECHNICAL CHALLENGE</b>';
        htmlstr += '<ul class="challenges" style="color: #0d6efd !important">';
        htmlstr += '<li class="lis" style="color: #0d6efd !important;">- The dominance of social media and the highly competitive online presence in South Korea present significant challenges to the popularity of the company in the market.</li>';
        htmlstr += '</ul>    </p>';
        this.innerHTML = htmlstr;

  });
  document.querySelector(".buttonL").addEventListener("mouseover", function() {
    this.textContent = "LEGAL";
    this.style.fontSize = "18px";
  });
  document.querySelector(".buttonL").addEventListener("mouseout", function() {
    this.textContent = "L";
    this.style.fontSize = "60px";
  });
  document.getElementById("legal").addEventListener("mouseover", function() {
    var htmlstr = '<p style="margin-top:2%;"><b style="color:#adb5bd !important">MITIGATIONS</b>';
        htmlstr += '<ul class="challenges" style="color: #adb5bd !important">';
        htmlstr += '<li class="lis" style="color: #adb5bd !important;">- The employments contracts will be crafted clear and detailed, defining the  terms of employment, including conditions for termination, to avoid misunderstandings.</li>';
        htmlstr += '<li class="lis" style="color: #adb5bd !important;">- The HR policies will be customized to align with South Korean labor standards, keeping in mind the differences from the U.S. system.';
        htmlstr += '</ul></p>';
        this.innerHTML = htmlstr;
  });
  document.getElementById("legal").addEventListener("mouseout", function() {
    var htmlstr = '<p style="color: #adb5bd !important; margin-top: 2%;">';
        htmlstr += 'The South Korean Ministry of Food and Drug Safety (MFDS) enforces stringent regulations and rigorous inspections to ensure food safety, including monitoring labeling, hazard analysis, and international cooperation.';
        htmlstr += '<br><br><b style="color:#adb5bd !important">LEGAL CHALLENGE</b>';
        htmlstr += '<ul class="challenges" style="color: #adb5bd !important">';
        htmlstr += '<li class="lis" style="color: #adb5bd !important;">- Korean labor market practices differ significantly from the American "at-will" employment system. In South Korea, employers are required to demonstrate "just cause" for terminating employment, making the process more stringent and structured.</li>';
        htmlstr+= '</ul> </p>';
    this.innerHTML = htmlstr;
});

  document.querySelector(".buttonEE").addEventListener("mouseover", function() {
    this.textContent = "ENVIRONMENTAL";
    this.style.fontSize = "18px";
  });
  document.querySelector(".buttonEE").addEventListener("mouseout", function() {
    this.textContent = "E";
    this.style.fontSize = "60px";
  });
  document.getElementById("environ").addEventListener("mouseover", function() {
    var htmlstr = '<p style="margin-top:4%;"><b style="color:#198754 !important">MITIGATIONS</b>';
        htmlstr += '<ul class="challenges" style="color: #198754 !important">';
        htmlstr += '<li class="lis" style="color: #198754 !important;">- Incredible Eats will adopt water-efficient technologies and practices such as rainwater harvesting to reduce water usage in its operations.</li>';
        htmlstr += '<li class="lis" style="color: #198754 !important;">- The company as its own mission, will use sustainable practices to avoid pollution.';
        htmlstr += '</ul></p>';
        this.innerHTML = htmlstr;
  });
  document.getElementById("environ").addEventListener("mouseout", function() {
    var htmlstr = '<p style="color: #198754 !important; margin-top: 2%;">';
        htmlstr += 'South Korea, one of the world&apos;s top consumers of single-use plastic packaging, implemented a ban on all single-use plastic bags at major supermarkets starting in January, 2019, as part of its ambitious goals to reduce plastic waste to 50%, and increase recycling rates from the current to 70% by 2030. This aligns with the goals of Incredible Eats too.'
        htmlstr += '<br><br><b style="color:#198754 !important">ENVIRONMENTAL CHALLENGE</b>';
        htmlstr += '<ul class="challenges" style="color: #198754 !important">';
        htmlstr += '<li class="lis" style="color: #198754 !important;">- South Korea have water scarcity and pollution issues, and climate change is making the problem even worse.</li>';
        htmlstr += '</ul> </p> ';
    this.innerHTML = htmlstr;
  });

</script>
{% endblock %}
